
* {
    --color1: #4b0082;
    --color2: #0de1ec;
    --color3: #dd0890;
    --color4: #ffad4a;
    --almost-white: #eeeeee;
    --almost-black: #333333;

    margin: 0;
    
}

body {
    background-color: var(--almost-white);
}


/* Header and navbar */
@media only screen and (min-width: 800px) {
    #page-header {
        position: fixed;
        top: 0;
        font-family: "Soleto";
        width: 100vw;
        max-width: 100%;
        z-index: 100;
    }
    
    #page-header header {
        height: 14vh;
        width: 100%;
        display: flex;
        align-items: center;
        background-color: var(--almost-white);
    }
    
    #header-logo {
        max-height: 90%;
        margin-left: 5px;
        margin-right: 15px;
    }
    
    #page-header #navbar {
        width: 100%;
        background-color: var(--almost-black);
        height: 5vh;
        border: solid;
        border-width: 0 0 1px 0;
        border-color: var(--almost-white);
    }

    #page-header #navbar ul {
        height: 100%;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: row;
        list-style-type: none;
        padding: 0;
    }
    
    .navbar-item {
        height: 100%;
        flex: 1;
    }
    
    .navbar-item a {
        transition: background-color 0.3s;
        height: 100%;
        width: 100%;
        text-decoration: none;
        color: var(--almost-white);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .navbar-item a:hover {
        background-color: var(--color4);
        color: var(--almost-black);
    }
    
    .navbar-item p {
        width: 100%;
        text-align: center;
    }
    
    #header-dummy-element {
        height: 19vh;
    }

    
}

/* mobile */
@media only screen and (max-width: 799px)
{
    #page-header {
        position: fixed;
        top: 0;
        font-family: "Soleto";
        width: 100vw;
        max-width: 100%;
        z-index:100;
    }
    
    #page-header header {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        background-color: var(--almost-white);
        border-color: var(--almost-black);
        border: solid;
        border-width: 0 0 2px 0;
        
    }
    
    #header-logo {
        align-self: center;
        width: 200px;
        height: auto;
        margin-left: 5px;
        margin-right: 15px;
    }
    
    #page-header #navbar {
        position: absolute;
        display:none;
        top: 70px;
        width: 100%;
        background-color: var(--almost-black);
        border: solid;
        border-width: 0 0 1px 0;
        border-color: var(--almost-white);
    }
    
    #page-header #hamburger-icon {
        align-self:baseline;
        background-color: var(--almost-black);
        /*position: absolute;
        right:0;
        top:0;*/
        width: 70px;
        height: 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

    }

    #page-header .bar {
        position: relative;
        background-color: var(--almost-white);
        height: 7px;
        width: 58px;
        z-index: 15;
    }
    
    /*#page-header #navbar {
        position: absolute;
        bottom: 10000px;
    }*/
    #page-header #navbar ul {
        height: 100%;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        list-style-type: none;
        padding: 0;
    }
    
    .navbar-item {
        height: 50px;;
        width: 100%;
        flex: 1;
    }
    
    .navbar-item a {
        transition: background-color 0.3s;
        height: 100%;
        width: 100%;
        text-decoration: none;
        color: var(--almost-white);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .navbar-item a:hover {
        background-color: var(--color4);
        color: var(--almost-black);
    }
    
    .navbar-item p {
        width: 100%;
        text-align: center;
    }
    
    #header-dummy-element {
        height: 19vh;
    }

    
    
}

/* .INDEX PAGE STARTS HERE */
#landing-page {
    height: 85vh;
    top: 15vh;
    background-image: url(../img/Landing2.jpg);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border: solid;
    border-color: var(--almost-black);
    border-width: 0 0 2px 0;
}

#index-grid-wrapper #upper-left, #index-grid-wrapper #lower-right {
    padding: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: var(--almost-black);
    color: var(--almost-white);
}


#index-grid-wrapper #upper-left:hover h2, #index-grid-wrapper #lower-right:hover h2 {
    color: var(--color2);
    max-width: 100%;
}

#upper-left h2, #lower-right h2 {
    transition: color 0.3s;
    font-size: 5vh;
    color: var(--color3);
}
#upper-left p, #lower-right p {
    font-family: "Soleto";
}

#landing-page h2 {
    font-family: "Soleto";
    width: 40vw;
}

/* index desktop */
@media only screen and (min-width: 800px) {
    #landing-page {
        display: flex;
        padding-left: 5vh;
        padding-top: 15vh;
    }

    #landing-page h2 {
        border-radius: 10px;
        background-color: var(--almost-white);
        color: var(--color1);
        height: calc(4*8vh);
        font-size: 8vh;
        padding: 10px;
    }
    
    #index-grid-wrapper {
        height: 100vh;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "ul ur"
        "ll lr"
        ;
    }
    
    #index-grid-wrapper #upper-left {
        grid-area: ul;
    }
    
    #index-grid-wrapper #upper-right {
        grid-area: ur;
    }
    
    #index-grid-wrapper #lower-left {
        grid-area: ll;
    }
    
    #index-grid-wrapper #lower-right {
        grid-area: lr;
    }
    
    #index-grid-wrapper img {
        filter: opacity(0.5) grayscale(1);
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    
    #index-grid-wrapper #upper-left, #lower-right {
        cursor: pointer;
    }
}

/* index mobile */
@media only screen and (max-width: 799px)
{
    #landing-page {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #landing-page h2 {
        background-color: var(--almost-white);
        border-radius: 10px;
        padding: 10px;
        font-size: 3.5vh;
        border: solid;
        border-color: var(--almost-black);
    }

    #index-grid-wrapper {
        height: 100vh;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "ul lr"
        ;
    }
    
    #index-grid-wrapper #upper-left {
        grid-area: ul;
        border: solid;
        border-color: var(--almost-white);
        border-width: 0 3px 0 0;
    }
    
    #index-grid-wrapper #upper-right {
        display: none;
    }
    
    #index-grid-wrapper #lower-left {
        display: none;
    }
    
    #index-grid-wrapper #lower-right {
        grid-area: lr;
    }
}


/* CONTACT */

#contact-section {
    padding: 40px 100px;
}

#contact-section h2 {
    font-family: "Soleto";
    font-size: 5vh;
    margin-bottom: 50px;
}

#contact-section form input[type=text] {
    padding: 12px;
    background-color: var(--almost-black);
    color: var(--almost-white);
    border-radius: 5px;
    margin: 5px 0;
}

#contact-section textarea {
    width: 100%;
    height: 150px;
    margin: 5px 0;
    padding: 12px;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: var(--almost-black);
    resize: none;
    color: var(--almost-white);
}

#contact-section button {
    transition: background-color 0.3s;
    margin: 5px 0;
    border: none;
    width: 140px;
    height: 56px;
    border-radius: 10px;
    background-color: var(--color4);
    color: var(--almost-black);
}

#contact-section button:hover {
    cursor: pointer;
    color: var(--almost-white);
    background-color: var(--color1);
}


/* MEMBER */

/* member desktop */
@media only screen and (min-width: 800px) {
    #member-grid-wrapper {
        display: grid;
        display: grid;
        grid-template-rows: 81vh;
        grid-template-columns: 50vw 50vw;
        grid-template-areas: 
        "mr mi"
        ;
        max-width: 100%;
    }
}

/* member mobile */

@media only screen and (max-width: 799px) {
    #member-grid-wrapper {
        display: grid;
        display: grid;
        grid-template-rows: 81vh 81vh;
        grid-template-columns: 100vw;
        grid-template-areas: 
        "mr"
        "mi"
        ;
        max-width: 100%;
    }
}

#member-info {
    background-color: var(--almost-black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    max-width: 100%;
}

#member-info h2 {
    background-color: var(--color4);
    color: var(--almost-black);
    font-family: "Soleto";
    font-size: 5vh;
    padding: 12px;
    margin-top: 65px;
    max-width: 100%;
}

#member-info p {
    background-color: var(--color3);
    padding: 12px;
    color: var(--almost-white);
    max-width: 100%;
}

#member-info #member-reasons-div {
    background-color: var(--color3);
    width: 100%;
    height: 15vh;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#member-info p#member-reasons {
    font-size: 5vh;
}

#member-info p#member-info-text {
    font-size: 3vh;
    max-width: 100%;
}

#member-link {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url("../img/member_background.jpg");
}

#member-link #member-link-button {
    transition: background-color 0.3s;
    border-radius: 15px;
    border: solid;
    border-color: var(--almost-white);
    border-width: 1px;
    height: 8vh;
    width: 30vw;
    background-color: var(--almost-black);
    color: var(--almost-white);
}
#member-link #member-link-button:hover {
    cursor: pointer;
    background-color: var(--color1);
}



/* plans.html */


/* plans desktop */
@media only screen and (min-width: 800px) {
    #plan-grid-wrapper {
        background: url(/img/plan_b.jpg);
        height: 81vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 150px 200px 200px;
    
        grid-template-areas:
        "hr hr"
        "tr tl"
        "br bl"
        ;
    }   
    
    #plan-header {
        grid-area: hr;
        font-family: soleto;
        font-size: 5vh;
        margin: 60px;
        border-radius: 5px;
        color: var(--almost-white);
        border: solid var(--almost-white) 1px;
        height: 50%;
        padding: 10px;
        background-color: var(--almost-black);
        text-decoration: underline;
    }
    
    .event-section {
        transition: background-color 0.3s;
        background-color: var(--almost-white);
        width: 25vw;
        margin: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        border: solid;
    }
    
    .event-title {
        font-family: soleto;
        font-size: 3vh;
    }
    
    .event-img {
        max-height: 100%;
    }
    
    .event-info-div {
        display: none;
    }
    
    .event-time {
        font-size: 2vw;
    }
    
    .event-section:hover {
        background-color: var(--almost-black);
        color: var(--color2);
    }
    
    .event-section:hover .event-info-div {
        flex:10;
        display: block;
        z-index: 10;
        border: solid 1px;
        background-color: var(--almost-white);
        color: var(--color1);
        border-color: var(--almost-black);
        transform: translateX(80%) translateY(-40%);
        height: 200px;
        display: flex;
        flex-direction: column;
        padding: 10px;
        align-items: center;
        justify-content: space-evenly;
    }
}


/* plans mobile */
@media only screen and (max-width: 799px) {
    #plan-grid-wrapper {
        padding-top: 150px;
        background: url(/img/plan_b.jpg);
        background-repeat: repeat-y;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 150px repeat(200px, 4);
    
        grid-template-areas:
        "hr"
        "tr"
        "tl"
        "br"
        "bl"
        ;
    }   
    
    #plan-header {
        grid-area: hr;
        font-family: soleto;
        font-size: 5vh;
        margin: 60px;
        border-radius: 5px;
        color: var(--almost-white);
        border: solid var(--almost-white) 1px;
        height: 50%;
        padding: 10px;
        background-color: var(--almost-black);
        text-decoration: underline;
    }
    
    .event-section {
        transition: background-color 0.3s;
        background-color: var(--almost-white);
        width: 80vw;
        margin: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        border: solid;
    }
    
    .event-title {
        font-family: soleto;
        font-size: 6vh;
    }
    
    .event-img {
        height: 50px;
    }
    
    
    .event-time {
        font-size: 5vh;
    }
    
    .event-info-div {
        flex: 10;
        display: block;
        z-index: 10;
        border: solid 1px;
        background-color: var(--almost-white);
        color: var(--color1);
        border-color: var(--almost-white);
        
        width: 50vw;
        display: flex;
        flex-direction: column;
        padding: 10px;
        align-items: center;
        justify-content: space-evenly;
    }
}